@charset "UTF-8";
/* CSS Document */

.list-group{
	list-style-type: none;
}

.list-group-item:before{
	content:none;
}

.list-group-item{
	display:block;
}

.list-group-item-inline{
	display: inline-block;
}